@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.section-title {
  font-weight: 700;
  font-size: 1.88rem;
}

.section-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  color: rgb(114, 114, 114);
}

.display-flex {
  display: flex;
}

.text-dark {
  color: rgb(19, 19, 19);
}

.text-gray {
  color: rgb(66, 66, 66);
}

.text-light-gray {
  color: rgb(114, 114, 114);
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn {
  border-radius: 5px;
  background: rgb(255, 144, 14);
  color: white;
  font-weight: 600;
  font-size: 0.84rem;
  border: none;
  padding: 14px 17px;
}

.btn:hover {
  background: white;
  color: rgb(255, 144, 14);
  cursor: pointer;
  border: 1px solid rgb(255, 144, 14);
  padding: 13.2px 16.5px;
}

body {
  margin: 0px;
}

main {
  max-width: 965px;
  margin: 0 auto;
}

/* nav styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 1.8rem;
  font-weight: 700;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 965px;
  margin: 0 auto;
}

/* header styles */
.banner-title {
  font-weight: 700;
  font-size: 2.7rem;
}

.banner-description {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 17px;
  margin-bottom: 21px;
}

.banner-content {
  max-width: 577px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 33.5px;
}

.banner-img {
  width: 100%;
  margin-bottom: 30px;
}

/* set teams styles */
.teams {
  align-items: center;
  margin-top: 57px;
  margin-bottom: 87px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.team-img-container img {
  width: 230px;
}

.our-features {
  margin-left: 49px;
  max-width: 360px;
}

.quick-list {
  font-weight: 500;
  font-size: 1.88rem;
}

.of-our {
  font-weight: 700;
  font-size: 1.88rem;
}

.feature {
  font-weight: 700;
  font-size: 1.88rem;
  color: rgb(255, 144, 14);
}
.feature-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  margin-bottom: 21px;
}

/* Features Styles */
.features {
  gap: 98px;
  flex: 1;
}

.architect-img {
  width: 474px;
}

#features-section-title {
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 14px;
}

.feature-title {
  font-size: 0.84rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-section-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  color: rgb(114, 114, 114);
  margin-bottom: 20px;
}

.feature-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  color: rgb(114, 114, 114);
  margin-bottom: 0;
}

.feature-card {
  padding: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 13px;
  border-radius: 5px;
}

#exp-badge {
  padding: 30px 28px;
  margin-left: -62px;
  margin-top: -82px;
}

.year {
  font-size: 2.72rem;
  font-weight: 700;
}

.exp {
  font-size: 1rem;
  font-weight: 500;
}

/* Facts style */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 80px;
  justify-items: center;
  /* gap: 83px; */
}

.fact-card {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
  text-align: center;
  padding: 31px 25px 40px 24px;
}

.fact-card:hover {
  background: lightgray;
}

.fact-number {
  font-weight: 600;
  color: rgb(66, 66, 66);
  font-size: 1.88rem;
  margin-top: 7px;
  margin-bottom: 3px;
}

.fact-name {
  font-weight: 600;
  color: rgb(114, 114, 114);
  font-size: 0.84rem;
  margin: 0;
}

.fact-icon {
  width: 30px;
}
.section-title {
  margin-bottom: 16px;
}

.section-description {
  width: 363px;
  margin-bottom: 67px;
}

/* sponsor section */
.sponsor-info {
  max-width: 363px;
  text-align: center;
  margin: 0px auto;
}

.brands {
  max-width: 965px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
}

.brand-img {
  width: 110px;
  filter: grayscale(100%);
}

.brand-img:hover {
  filter: grayscale(10%);
}

/* Footer */
footer {
  max-width: 965px;
  margin: 0 auto;
  margin-bottom: 170px;
}

.footer {
  background: rgb(255, 244, 231);
  height: 67px;
  margin: 0 auto;
  text-align: center;
  padding-top: 26px;
}

.footer-text {
  font-size: 0.84rem;
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

/* responsive */

@media screen and (max-width: 576px) {
  .navbar,
  .teams,
  .features {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 10px;
  }
  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .section-title {
    margin-left: 20px;
  }
  .fc{
    margin-left: 20px;
  }
  .brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  #exp-badge {
    padding: 30px 28px;
    margin-left: 90px;
    margin-top: -110px;
  }

  .features {
    gap: 10px;
  }

  .architect-img {
    width: 100%;
  }
  .feature-section-description{
    margin-left: 15px;
  }
}

/* Tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }

  .architect-img {
    width: 95%;
    margin-left: 25px;
  }

  .features {
    justify-content: center;
    align-items: center;
  }

  #exp-badge {
    padding: 30px 28px;
    margin-left: 350px;
    margin-top: -110px;
  }

  .navbar {
    margin-left: 30px;
  }
  .our-features {
    max-width: 515px;
    /* margin-left: -70px; */
  }
  .section-title,
  .section-description {
    margin-left: 30px;
  }

  .fact-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
  }

  .brands {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .feature-section-description{
    margin-left: 20px;
  }
}
