@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.section-title {
  font-weight: 700;
  font-size: 1.88rem;
}

.section-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  color: rgb(114, 114, 114);
}

.display-flex {
  display: flex;
}

.text-dark {
  color: rgb(19, 19, 19);
}

.text-gray {
  color: rgb(66, 66, 66);
}

.text-light-gray {
  color: rgb(114, 114, 114);
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn {
  border-radius: 5px;
  background: rgb(255, 144, 14);
  color: white;
  font-weight: 600;
  font-size: 0.84rem;
  border: none;
  padding: 14px 17px;
}

.btn:hover {
  background: white;
  color: rgb(255, 144, 14);
  cursor: pointer;
  border: 1px solid rgb(255, 144, 14);
  padding: 13.2px 16.5px;
}

body {
  margin: 0px;
}

main {
  max-width: 965px;
  margin: 0 auto;
}

/* nav styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 1.8rem;
  font-weight: 700;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 965px;
  margin: 0 auto;
}

/* header styles */
.banner-title {
  font-weight: 700;
  font-size: 2.7rem;
}

.banner-description {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 17px;
  margin-bottom: 21px;
}

.banner-content {
  max-width: 577px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 33.5px;
}

.banner-img {
  width: 100%;
  margin-bottom: 30px;
}

/* set teams styles */
.teams {
  align-items: center;
  margin-top: 57px;
  margin-bottom: 87px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.team-img-container img {
  width: 230px;
}

.our-features {
  margin-left: 49px;
  max-width: 360px;
}

.quick-list {
  font-weight: 500;
  font-size: 1.88rem;
}

.of-our {
  font-weight: 700;
  font-size: 1.88rem;
}

.features {
  font-weight: 700;
  font-size: 1.88rem;
  color: rgb(255, 144, 14);
}
.feature-description {
  font-weight: 400;
  font-size: 0.67rem;
  line-height: 17px;
  margin-bottom: 21px;
}

/* Facts style */

.fact-container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-bottom: 80px;
   justify-items: center;
   /* gap: 83px; */
}

.fact-card{
   border: 1px solid rgb(255, 144, 14);
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   width: 120px;
   height: 100px;
   text-align: center;
   padding: 31px 25px 40px 24px;
}

.fact-card:hover {
   background: lightgray;
}

.fact-number{
   font-weight: 600;
   color: rgb(66, 66, 66);
   font-size: 1.88rem;
   margin-top: 7px;
   margin-bottom: 3px;
}

.fact-name{
   font-weight: 600;
   color: rgb(114, 114, 114);
   font-size: 0.84rem;
   margin: 0;
}

.fact-icon{
   width: 30px;
}
.section-title{
   margin-bottom: 16px;
}

.section-description{
   width: 363px;
   margin-bottom: 67px;
}


/* responsive */

@media screen and (max-width: 576px) {
  .navbar,
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 10px;
  }
}

/* Tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .teams {
    flex-direction: column;
  }
  .our-features {
    max-width: 515px;
    /* margin-left: -70px; */
  }
}
